body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-marketing::before {
  content: '\e5c3';
  font-family: 'Material Symbols Outlined';
  font-size: 20px;
  position: relative;
  top: 4px;
}

.icon-finance::before {
  content: '\e2eb';
  font-family: 'Material Symbols Outlined';
  font-size: 20px;
  position: relative;
  top: 4px;
}

.icon-people::before {
  content: '\ea67';
  font-family: 'Material Symbols Outlined';
  font-size: 20px;
  position: relative;
  top: 4px;
}
