.navbar_wrapper {
    width: fit-content;
    background: #9e9e9e3d;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

h1 {
    padding: 24px;
}

.menu {
    list-style: none;
    width: 100%;
    padding: 0;
}

.menu_item {
    margin-bottom: 12px;
    height: 3rem;
    position: relative;
    padding-left: 16px;
}

.menu_item:not(.active) {
    padding-left: 24px;
}

.menu_item a {
    margin-bottom: 16px;
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);
    text-decoration: none;
    font-size: 16px;
    color: black;
    width: 100%;
}

.active {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 3rem;
    border-left: 8px solid red;
}

.switch_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.switch_info {
    width: 160px;
}

.plugins_disabled {
    background-image: linear-gradient(to top, rgb(255 0 0 / 10%), rgba(255,0,0,0));
}

.plugins_enabled {
    background-image: linear-gradient(to top, rgb(0 255 93 / 24%), rgba(255,0,0,0));
}